NEXT_PUBLIC_API_URL=https://backend-ranking-backend-ranking.p7agvn.easypanel.host
NEXT_PUBLIC_SUPABASE_URL=https://zwpiaogzkqzwlfrbedfg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
